* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
}
html {
    background: #eda45a;
    height: 100%;
    min-height: 100%;
}
body{
    height: 100%;
    min-height: 100%;
}
.flex-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}
.background {
    box-sizing: content-box;
    background-image: url(../img/bg/bg-lg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    min-height: 100%;
    position: relative;
}

.pers {
    margin: 260px -30px 0 -30px;
    position: relative;
    width: 240px;
    min-height: 575px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.pers:first-child {
    margin-left: auto;
}
.pers:last-child {
    margin-right: auto;
}
.pers .item-food.item-food-active {
    position: absolute !important;
    bottom: 10px !important;
    left: 50% !important;
    top: inherit !important;
    transform: translateX(-50%) !important;
    z-index: 100;
    width: auto !important;
}
.pers img.plate{
    width: 100px;
    display: block;
    margin: 35px auto;
}
.pers img.piala{
    width: 50px;
    position: absolute;
    bottom: 40px;
    left: 8px;
}
.step1, .step2, .step3, .step4, .step5 {
    display: none;
    position: relative;
}
.active {
    display: block;
}
.img-food {
    width: 100px;
    margin: 0 15px;
}
.dengel {
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    opacity: 0;
    transition: 3s;
    z-index: 100;
}
.bashto {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 100;
    display: block;
}
.buttu {
    position: absolute;
    bottom: 3%;
    right: 5%;
    cursor: pointer;
    display: none;
    z-index: 100;
}
.kiyinki {
    position: absolute;
    bottom: 3%;
    right: 5%;
    cursor: pointer;
    display: none;
    z-index: 100;
}
.refresh {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 3%;
    left: 5%;
    display: none;
    cursor: pointer;
    z-index: 100;
}
.refresh img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.wrapper-error {
    width: 60px;
    height: 60px;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    min-height: 130px;
}

.meats-error-text {
    text-align: center;
    width: 60%;
    position: absolute;
    bottom: -200px;
    left: 50%;
    transform: translateX(-50%);
    min-height: 190px;
}
.meats-error-text img {
    width: 25px;
    height: 25px;
}
.sertificate {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    display: none;
}
.social {
    position: absolute;
    bottom: 10%;
    display: none;
    left: 50%;
    transform: translateX(-50%);
}
.social a,
.social div{
    width: 40px;
    height: 40px;
    margin-right: 15px;
    display: inline-block;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.social div {
    margin-right: 0;
}
.social div span {
    display: none;
}
.fb {
    background-image: url(../img/share/fb.svg);
}
.ok {
    background-image: url(../img/share/ok.svg);
}
.food {
    width: 100%;
    height: 250px;
    align-items: center;
    z-index: 5;
}
.persons {
    justify-content: flex-start!important;
}
.persons-bottom {
    padding-bottom: 200px;
}
.food-bottom {
    min-height: 0 !important;
    height: 0 !important;
}
.toyboss-logo {
    position: absolute;
    top: 20%;
    right: 0;
    width: 150px;
    height: 40px;
    display: none;
}
.toyboss-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.simplebar-content {
    display: flex !important;
}
.simplebar-wrapper {
    max-width: 100% !important;
}
.white-bg {
    background: rgba(255,255,255,0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}
.begging {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 65%;
    height: 400px;
    background: url(../img/main-title.png) no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain;
}
.begging-logo {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 270px;
    height: 90px;
    background: url(../img/svg/logo-main.svg) no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain;
    z-index: 15;
}

@media only screen and (max-width: 1380px) {
    .sertificate {
        top: 40px;
        transform: translate(-50%, 0);
    }
    .pers {
        margin: 189px -20px 0;
        position: relative;
        display: block;
        min-height: auto;
    }
    .pers img.pers-item {
        width: 170px;
        margin: 0 auto;
        display: block;
    }
    .pers img.plate {
        margin: 20px auto;
    }
    .pers img.piala {
        bottom: 25px;
        left: -2px;
    }
    .background {
        background-size: 1366px 768px;
    }
    .dengel {
        top: 23%;
    }
    .dengel img {
        width: 170px;
    }
    .buttu , .bashto{
        bottom: 5%;
    }
    .food {
        min-height: 230px;
    }
    .img-food {
        width: 75px;
    }
    .pers .item-food {
        bottom: 10px !important;
        width: 8.3333%;
    }
    .meats-error-text {
        bottom: -200px;
        width: 80%;
    }
    .refresh,
    .kiyinki {
        bottom: 5%;
    }
    .toyboss-logo {
        top: 16%;
        width: 110px;
    }
    .social {
        bottom: 3%;
    }
}
@media only screen and (max-width: 1200px) {
    .food {
        width: 80%;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .item-food {
        width: 16.6666%;
    }
    .item-food img {
        margin: 0 auto;
        display: block;
    }
    .begging {
        width: 75%;
    }
}

@media only screen and (max-width: 1000px) {
    .pers img.pers-item {
        width: 169px;
    }
    .sertificate {
        width: 350px;
    }
    .begging {
        width: 80%;
    }
}


@media only screen and (max-width: 768px) {
    .begging {
        width: 85%;
    }
    .buttu, .kiyinki {
        z-index: 100;
        text-align: center;
        bottom: 3%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }
    .sertificate {
        width: 230px;
        top: 50px;
    }
    .item-food {
        margin: 0 auto;
        width: 15%;
    }
    .food {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .toyboss-logo {
        top: 15%;
        right: 0;
        width: 120px;
        height: 30px;
    }
    .item-food {
        width: 25%;
    }
    .begging-logo {
        width: 130px;
        height: 40px;
    }
}

@media only screen and (max-width: 360px) {
    .buttu {
        z-index: 100;
        bottom: 2%;
        text-align: center;
        right: 3%;
    }
    .bashto {
        bottom: 5%;
    }
    .img-food {
        width: 70px;
    }
}

